@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
.phoneHeadTop {
  border-bottom: 0; }

.phoneHeadBottom {
  display: none; }

.ie-only {
  display: none; }

ul.officers li {
  list-style: none; }

#AR_2014 {
  width: 750px;
  height: 122px;
  float: left;
  text-align: center;
  background-image: url("http://web3.illinoismutual.com/Portals/20/Images/AR_2014.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.dnn_logo {
  width: 160px;
  height: 40px; }

.BannerPane {
  min-height: 505px !important;
  background-image: url("/Portals/20/Images/3-stripe-bg.jpg");
  background-position: center; }

.Full_Screen_PaneA {
  min-height: 260px !important;
  background-position: bottom; }
  .Full_Screen_PaneA .group {
    position: relative;
    height: 165px; }
    .Full_Screen_PaneA .group .heading {
      width: 500px;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      bottom: 25px; }
      .Full_Screen_PaneA .group .heading h1 {
        font-size: 36px;
        color: #FFFFFF;
        line-height: 40px;
        margin-bottom: 0px; }

.RightFooter {
  width: 100%;
  margin-top: 0px; }

.content_mid {
  margin-top: 5px; }

.image {
  position: absolute;
  right: -50px;
  top: -40px;
  width: 300px;
  height: 300px; }

#photoFrame {
  width: 600px;
  height: 460px;
  position: relative;
  margin: auto; }
  #photoFrame .photo {
    float: left;
    width: 275px;
    height: 275px; }
    #photoFrame .photo.open {
      height: 425px; }
  #photoFrame .message {
    width: 265px;
    display: none;
    color: #FFFFFF;
    margin-top: 25px;
    margin: auto;
    position: absolute;
    z-index: -1; }
    #photoFrame .message h3 {
      color: #FFFFFF; }
    #photoFrame .message .fullStory {
      color: #006666;
      background-color: #FFFFFF;
      width: 170px;
      height: 30px;
      display: table; }
      #photoFrame .message .fullStory .text {
        display: table-cell;
        width: 245px;
        height: 30px;
        border-right: 2px #006666 solid;
        text-align: center;
        vertical-align: middle;
        position: relative;
        left: 0;
        padding: 0;
        color: #006666; }
      #photoFrame .message .fullStory .arrow {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("/Portals/_default/Skins/IML_Branded-AR/images/button_bg.jpg");
        background-repeat: no-repeat;
        background-position: right; }
  #photoFrame .top .target {
    margin: 50px;
    width: 175px;
    height: 175px;
    position: absolute;
    top: 0; }
    #photoFrame .top .target:hover {
      cursor: pointer; }
  #photoFrame .top .message {
    bottom: 0; }
  #photoFrame .top.left {
    background-image: url("/Portals/20/Images/featured/katie.png");
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    z-index: 2;
    left: 50px;
    top: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #photoFrame .top.left.on {
      left: -205px;
      top: -20px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  #photoFrame .top.right {
    background-image: url("/Portals/20/Images/featured/pamela.png");
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    z-index: 1;
    right: 55px;
    top: 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #photoFrame .top.right.on {
      right: -220px;
      top: -20px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #photoFrame .top.right .message {
      bottom: 30px; }
  #photoFrame .bottom .target {
    margin: 50px;
    width: 175px;
    height: 175px;
    position: absolute;
    bottom: 0; }
    #photoFrame .bottom .target:hover {
      cursor: pointer; }
  #photoFrame .bottom .message {
    top: 0; }
  #photoFrame .bottom.left {
    background-image: url("/Portals/20/Images/featured/sue.png");
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: 3;
    left: 45px;
    top: 215px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #photoFrame .bottom.left.on {
      height: 450px;
      left: -205px;
      top: 105px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  #photoFrame .bottom.right {
    background-image: url("/Portals/20/Images/featured/david.png");
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: 2;
    right: 55px;
    top: 235px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #photoFrame .bottom.right.on {
      height: 450px;
      right: -220px;
      top: 105px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #photoFrame .bottom.right .message {
      top: 30px; }

.presMessage {
  margin-top: 75px; }
  .presMessage .presImg {
    width: 200px;
    margin-top: -75px; }
  .presMessage .presMsg {
    text-align: center !important; }

.frame {
  width: 100%;
  max-width: 260px;
  height: 260px;
  display: table;
  margin: auto; }
  .frame .statNumber {
    font-size: 40px;
    font-weight: 600; }
  .frame .copy {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    height: 0;
    overflow: hidden; }

.lifeClaims {
  text-align: center;
  color: #330066;
  display: table-cell;
  vertical-align: middle; }
  .lifeClaims .copy {
    border-top: 1px solid #330066;
    border-bottom: 1px solid #330066; }

.wpClaims {
  text-align: center;
  color: #660000;
  display: table-cell;
  vertical-align: middle; }
  .wpClaims .copy.top {
    border-bottom: 1px solid #660000; }
  .wpClaims .copy.bottom {
    border-top: 1px solid #660000; }

.newCI {
  text-align: center;
  color: #660000;
  display: table-cell;
  vertical-align: middle; }
  .newCI .copy.top {
    font-size: 22px;
    text-align: left;
    line-height: 30px;
    font-weight: 700;
    height: 68px; }
  .newCI .copy.bottom {
    border-top: 1px solid #660000;
    border-bottom: 1px solid #660000;
    text-align: center; }
  .newCI .copy .twoLines {
    font-size: 64px;
    font-weight: 800;
    float: left;
    margin-right: 10px;
    line-height: 62px; }

.diClaims {
  text-align: center;
  color: #000066;
  display: table-cell;
  vertical-align: middle; }
  .diClaims .copy {
    border-top: 1px solid #000066;
    border-bottom: 1px solid #000066; }

.psCalls {
  text-align: center;
  color: #000066;
  display: table-cell;
  vertical-align: middle;
  display: none; }
  .psCalls .copy.top {
    border-bottom: 1px solid #000066; }
  .psCalls .copy.bottom {
    border-top: 1px solid #000066; }

.uwPledge {
  text-align: center;
  color: #006666;
  display: table-cell;
  vertical-align: middle; }
  .uwPledge .copy.top {
    border-bottom: 1px solid #006666; }
  .uwPledge .copy.bottom {
    border-top: 1px solid #006666; }

.hallOfFame {
  text-align: center;
  color: #330066;
  display: table-cell;
  vertical-align: middle; }
  .hallOfFame .case {
    height: 40px;
    display: block;
    clear: both;
    overflow: hidden; }
    .hallOfFame .case .trophy {
      width: 28px;
      height: 37px;
      display: block;
      float: left;
      margin: 0 4px;
      margin-top: -40px;
      background-image: url("/Portals/20/Images/anims/trophy.png"); }
  .hallOfFame .copy {
    border-top: 1px solid #330066;
    border-bottom: 1px solid #330066; }
    .hallOfFame .copy .twoLines {
      font-size: 80px;
      font-weight: 800;
      float: left;
      margin-right: 3px;
      line-height: 62px; }

.photoContest {
  text-align: center;
  color: #006666;
  display: table-cell;
  vertical-align: middle;
  display: none; }
  .photoContest .gallery {
    width: auto;
    margin: 5px 1.28px;
    height: 33px;
    overflow: hidden; }
    .photoContest .gallery.bottom {
      margin: 5px 19.67px; }
    .photoContest .gallery .photo {
      display: block;
      float: left;
      margin: 0 3.4px;
      margin-top: -33px;
      width: 29px;
      height: 31px;
      background-image: url("/Portals/20/Images/anims/photo.jpg");
      background-size: cover; }
  .photoContest .copy.top {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-align: left;
    height: 70px; }
  .photoContest .copy.bottom {
    border-top: 1px solid #006666;
    border-bottom: 1px solid #006666; }
  .photoContest .copy .twoLines {
    font-size: 80px;
    font-weight: 800;
    float: left;
    margin-right: 10px;
    line-height: 62px; }

.fadeStat {
  display: none; }

#portfolioByAssets {
  margin: auto; }

#legend .item {
  width: 320px;
  position: relative;
  margin: 5px; }
  #legend .item .one {
    background-color: #006666; }
  #legend .item .two {
    background-color: #04807d; }
  #legend .item .three {
    background-color: #099b93; }
  #legend .item .four {
    background-color: #05b4a6; }
  #legend .item .five {
    background-color: #28beb1; }
  #legend .item .six {
    background-color: #4dc4b8; }
  #legend .item .seven {
    background-color: #8fd6d3; }
  #legend .item .eight {
    background-color: #c3e9ec; }
  #legend .item .nine {
    background-color: #dcf2f7; }
  #legend .item .key {
    width: 25px;
    height: 25px;
    display: block;
    border: 1px solid #666666;
    position: absolute; }
  #legend .item .amount {
    display: inline-block;
    width: 55px; }
  #legend .item .amount, #legend .item .label {
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    color: #666666;
    position: relative;
    left: 40px; }

.years {
  width: 200px;
  clear: left;
  margin: auto; }
  .years .year {
    width: 33.3333333%;
    float: left;
    text-align: center; }

table.assets, table.liabilities {
  display: none;
  margin-top: 24px; }
  table.assets .title, table.liabilities .title {
    font-size: 20px;
    font-weight: 700;
    color: #006666;
    border-bottom: 1px solid #006666; }
  table.assets td, table.liabilities td {
    padding: 0 10px; }
  table.assets span.dollar, table.liabilities span.dollar {
    float: left;
    margin-left: 100px; }
  table.assets .col-2, table.assets .col-3, table.liabilities .col-2, table.liabilities .col-3 {
    text-align: right;
    width: 256px; }

@media (max-width: 1199px) and (min-width: 980px) {
  .photoContest .gallery {
    height: 24px;
    margin: 5px 5.28px; }
    .photoContest .gallery.bottom {
      margin: 5px 19.67px; }
    .photoContest .gallery .photo {
      width: 22px;
      height: 24px;
      background-image: url("/Portals/20/Images/anims/photo.jpg");
      background-size: cover; }
  .photoContest .copy.top {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    height: 64px; }
  .photoContest .copy.bottom {
    border-top: 1px solid #006666;
    border-bottom: 1px solid #006666; }
  .photoContest .copy .twoLines {
    font-size: 68px;
    font-weight: 800;
    float: left;
    margin-right: 10px;
    line-height: 62px; }

  .hallOfFame .case {
    height: 34px;
    display: block;
    clear: both;
    overflow: hidden; }
    .hallOfFame .case .trophy {
      width: 22px;
      height: 28px;
      margin-top: -40px;
      background-size: cover; }
  .hallOfFame .copy {
    font-size: 13px; }
    .hallOfFame .copy .twoLines {
      font-size: 75px;
      line-height: 62px;
      margin-right: -2px; } }
@media (max-width: 1024px) {
  #AR_2014 {
    width: 650px;
    height: 122px; }

  #photoFrame {
    width: 400px;
    height: 307px; }
    #photoFrame .photo {
      width: 183px;
      height: 183px; }
    #photoFrame .message {
      width: 200px; }
    #photoFrame .top.left {
      background-size: contain;
      left: 35px;
      top: 95px; }
      #photoFrame .top.left.on {
        left: -150px;
        top: 50px;
        height: 355px; }
      #photoFrame .top.left .target {
        margin: 41px;
        width: 100px;
        height: 100px; }
      #photoFrame .top.left .message {
        margin-left: -15px; }
    #photoFrame .top.right {
      background-size: contain;
      right: 35px;
      top: 105px; }
      #photoFrame .top.right.on {
        right: -150px;
        top: 30px;
        height: 370px; }
      #photoFrame .top.right .target {
        margin: 41px;
        width: 100px;
        height: 100px; }
    #photoFrame .bottom.left {
      background-size: contain;
      left: 30px;
      top: 225px; }
      #photoFrame .bottom.left.on {
        height: 400px;
        left: -150px; }
      #photoFrame .bottom.left .target {
        margin: 41px;
        width: 100px;
        height: 100px; }
    #photoFrame .bottom.right {
      background-size: contain;
      right: 35px;
      top: 240px; }
      #photoFrame .bottom.right.on {
        height: 350px;
        right: -150px; }
      #photoFrame .bottom.right .target {
        margin: 41px;
        width: 100px;
        height: 100px; }
      #photoFrame .bottom.right .message {
        top: 0; } }
@media (max-width: 979px) and (min-width: 767px) {
  #AR_2014 {
    width: 375px;
    height: 100px; }

  .image {
    position: absolute;
    right: -50px;
    top: -40px;
    width: 225px;
    height: 225px; }

  .frame .statNumber {
    font-size: 26px; }
  .frame .copy {
    font-size: 16px; }

  .photoContest .gallery {
    height: 24px;
    margin: 5px 0px; }
    .photoContest .gallery.bottom {
      margin: 5px 11.5px; }
    .photoContest .gallery .photo {
      width: 18px;
      height: 20px;
      margin: 0 2px;
      margin-top: -20px;
      background-size: cover; }
  .photoContest .copy {
    font-size: 13px; }
    .photoContest .copy.top {
      font-size: 18px;
      line-height: 20px;
      height: 42px; }
    .photoContest .copy .twoLines {
      font-size: 48px;
      line-height: 36px; }

  .diClaims .copy {
    font-size: 12px; }

  .psCalls .copy {
    font-size: 12px; }

  .hallOfFame .case {
    height: 22px; }
    .hallOfFame .case .trophy {
      width: 14px;
      height: 19px;
      margin-top: -22px;
      background-size: contain; }
  .hallOfFame .copy {
    font-size: 14px; }
    .hallOfFame .copy .twoLines {
      font-size: 46px;
      margin-right: 0px;
      line-height: 40px; }

  table.assets .col-2, table.assets .col-3, table.liabilities .col-2, table.liabilities .col-3 {
    text-align: right;
    width: 200px; }
  table.assets span.dollar, table.liabilities span.dollar {
    float: left;
    margin-left: 45px; } }
@media (max-width: 767px) {
  .Full_Screen_PaneA .group .heading {
    width: auto; }

  .group .image {
    display: none; }

  table.assets .col-2, table.liabilities .col-2 {
    width: 115px; }
  table.assets .col-3, table.liabilities .col-3 {
    display: none; }
  table.assets span.dollar, table.liabilities span.dollar {
    float: left;
    margin-left: -15px; } }
@media (max-width: 767px) and (min-width: 599px) {
  #AR_2014 {
    width: 100%;
    height: 122px;
    float: none; }

  .row.thumb {
    width: 50%;
    float: left;
    margin: 0; }

  .row.thumb.pres {
    width: 100%;
    float: none;
    margin: 0; }

  .presMessage {
    margin-top: 30px; }
    .presMessage .presImg {
      width: 100px;
      margin-top: -30px;
      float: left; }
    .presMessage .presMsg {
      text-align: center !important; } }
@media (max-width: 719px) {
  #AR_2014 {
    width: 100%;
    height: 122px;
    float: none; }

  .BannerPane {
    min-height: 410px !important;
    background-image: url("/Portals/20/Images/3-stripe-bg.jpg");
    background-position: center; }

  #photoFrame {
    width: 100%;
    height: 320px; }
    #photoFrame .photo {
      width: 50%;
      height: 130px; }
      #photoFrame .photo .message {
        display: block !important;
        width: 135px;
        overflow: hidden;
        margin: auto !important;
        position: relative;
        top: 115px; }
        #photoFrame .photo .message .fullStory {
          width: 135px; }
          #photoFrame .photo .message .fullStory .text {
            font-size: 10px; }
        #photoFrame .photo .message h3 {
          font-size: 12px; }
        #photoFrame .photo .message p {
          display: none; }
      #photoFrame .photo .target {
        display: none; }
    #photoFrame .top.left {
      top: -5px;
      left: 0; }
    #photoFrame .top.right {
      top: -5px;
      right: 0; }
    #photoFrame .bottom .message {
      top: 115px !important; }
    #photoFrame .bottom.left {
      top: 180px;
      left: 0; }
    #photoFrame .bottom.right {
      top: 180px;
      right: 0; } }
@media (max-width: 640px) {
  .FooterLinks {
    display: block;
    width: 90%; }

  .web {
    display: none; } }
@media (max-width: 400px) {
  .Full_Screen_PaneA .group .heading {
    font-size: 12px; } }

/*# sourceMappingURL=AR2014.css.map */
